<nav class="navbar bottom navbar-fixed-bottom">

  <div class="container footer-container">
    <div class="nav-bar-text">
      <span class="help"><a href="{{ site.baseurl }}/footer_links/help.html">Help</a></span>
      <span class="privacy"><a href="{{ site.baseurl }}/footer_links/privacy.html">Privacy</a></span>
      <span class="accessibility"><a href="{{ site.baseurl }}/footer_links/accessibility.html">Accessibility</a></span>
      <span class="contanct"><a href="{{ site.baseurl }}/contact.html">Contact</a></span>
    </div>
    <p class="copyright" style="display:inline-block">&copy;Uganda Maternal Health Club 2020</p>

  </div>
</nav>

